# Python version requirement
python>=3.8

# PyTorch and related packages
torch
torchvision
torchaudio

# Other essential packages
timm
PyYAML
pycocotools
omegaconf
psutil
scikit-learn
opencv-contrib-python
segment-anything-hq

# GitHub packages
git+https://github.com/openai/CLIP.git
ultralytics==8.0.120
git+https://github.com/facebookresearch/segment-anything.git
git+https://github.com/CASIA-IVA-Lab/FastSAM.git
git+https://github.com/ChaoningZhang/MobileSAM.git
git+https://github.com/chongzhou96/EdgeSAM.git